{% extends "base.html" %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="/static/css/detail_styles.css" type="text/css">
{% endblock %}

{% block content_main %}

    <div class="row">
      <div class="col">
        <img src='{{ book.cover }}'>
      </div>
      <div class="col">
        <h1><b> {{ book.title }} </b></h1>
        <li><b>Author: </b> {{ book.author.name }} {{ book.author.surname }} </li>
        <li><b>Released: </b> {{ book.publish_date }} </li>
        <li><b>Type: </b> {{ book.type}} </li>
        <li><b>Description: </b> {{ book.description }} </li>
        <li><b>Price: </b> {{ book.price }} PLN</li>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <a class="btn btn-success" type="button" href="{{ url_for('main.add_to_cart', book_id=book.id) }}">Add to Cart</a>
      </div>
    </div>

{% endblock %}