{% extends "base.html" %}

{% block content_main %}
    <h1>Order number: {{ order.order_number }}</h1>
    <div class="row">
      {% for item in ordered_items %}
          <div class="col-3 col-md-2">
            <p><a href="{{ url_for('main.book_detail', book_id=item.book.id) }}">
               <img src='{{ item.book.cover }}' style="max-height:200px;max-width:80px;"></a></p>
          </div>
          <div class="col-9 col-md-10">
            {{ item.book.title }} ({{ item.book.author.name }} {{ item.book.author.surname }})
            - {{ item.book.price }} PLN
          </div>
        {% endfor %}
    </div>
    <div class="row">
      <div class="col-md-12">
        <p><b>Data to send:</b></p>
        {% for data in personal_data %}
          <li>{{ data.first_name }} {{ data.last_name }}</li>
          <li>{{ data.address }}</li>
          <li>{{ data.postal_code }} {{ data.city }}</li>
        {% endfor %}
      </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-lg-10"></div>
        <div class="col-sm-6 col-lg-2">
            Total price: {{ total_price }} PLN
            <input type="submit" class="btn btn-primary" name="Add">
        </div>
    </div>
{% endblock %}